html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

}


.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}


#selectedPrice{
  margin-left: 15px;
  text-align: center;
  font-size: larger;
  font-weight: 400;

}



/* Style for the user slider */


#userRange {
    width: 100%;
    /* margin: 0 auto; */
}

#user-slider p {
    font-weight: bold;
}

.slider-box{
  width: 70%;
    /* padding: 0; */
    /* border: 2px solid blue; */
    margin: 0 auto;
 
}

/* infinite scroll */
.quoteContainer h3{
  text-align: center;
}

.quote-box{
  border:2px solid rgb(156, 156, 203);
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;

}

.lds-ring {
  /* border: 1px solid beige; */
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #97b6ec transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



#loading-spinner {

display: none;
width: 80%;
height: 20%;
margin: 0 auto;
text-align: center;

   
}
/*
#loading-spinner img{
  width: 8%;

} */

/* @keyframes flipAnimation{
0% {
  transform: rotateY(-180deg);
}
50% {
  transform: rotateY(0);
}
100% {
  transform: rotateY(-180deg);
}
} */